# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [39]:
# Dependencies and Setup
import matplotlib.pyplot as plt
from pprint import pprint
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [40]:
df = pd.read_csv('Output/city_data.csv')
df.head()

,Unnamed: 0,City,Country,Date,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,PF,1570421172,100,86,-23.12,-134.97,23.19,5.06
1,1,Saskylakh,RU,1570421172,90,95,71.97,114.09,-7.45,2.87
2,2,Busselton,AU,1570421023,3,33,-33.64,115.35,22.22,3.65
3,3,Tazovskiy,RU,1570421172,96,85,67.47,78.70,1.78,10.08
4,4,Vaini,IN,1570421172,40,94,15.34,74.49,23.00,1.06

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [41]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Heatmap location coordinates
coords = df[['Lat','Lng']]

# Humidity as the weight with NaN values converted to float (just in case)
Humidity = df['Humidity'].astype(float)

In [42]:
# Plot Humidity Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(coords, weights=Humidity, 
                                 dissipating=False, max_intensity=150,
                                 point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
 * Temperature between 24 and 30 Celsius
 * Humidity between 30 and 50%
 * Wind Speeds less than 15 kph 
* Drop any rows will null values.

In [43]:
pref_df = df.loc[(df['Max Temp'] > 24) &    # Use ampserstands to indicate 'and'
                 (df['Max Temp'] < 30) &    # | indicates 'or'
                 (df['Humidity'] > 30) &
                 (df['Humidity'] < 50) &
                 (df['Wind Speed'] < 15)
                 , :]
pref_df

,Unnamed: 0,City,Country,Date,Cloudiness,Humidity,Lat,Lng,Max Temp,Wind Speed
287,287,Barsana,IN,1570421208,90,40,27.65,77.38,27.46,1.10
294,294,Indramayu,ID,1570421209,4,37,-4.05,103.78,29.04,2.62
370,370,La Foa,NC,1570421218,0,42,-21.71,165.83,29.00,6.20
441,441,Noumea,NC,1570421229,0,42,-22.28,166.46,29.00,6.20
531,531,Viesca,MX,1570421241,40,32,25.34,-102.81,29.00,7.20

In [44]:
params = {
    "radius": 5000,
    "types": "lodging",
    #"keyword": "hotel",
    "key": g_key,
    "location": "27.65, 77.38"
}

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

hotel_req = requests.get(base_url, params=params).json()

pprint(hotel_req['results'][0]['name'])
pprint(hotel_req['results'][0]['geometry']['location']['lat'])
pprint(hotel_req['results'][0]['geometry']['location']['lng'])

'Dhatariya Dharmshala'
27.649772
77.3796007

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [45]:
# Set up parameters to search for hotels with 5000 meters
hotel_name = []
hotel_lat = []
hotel_lng = []

params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

# Use Lat/Lng to recover the first hotel in the cities desired
for index, row in pref_df.iterrows():
    # get location coords
    lat = row['Lat']
    lng = row['Lng']
    
    # set up the specific city coords in with a location key
    params['location'] = f'{lat},{lng}'
    
    # define base_url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # API request with exra special parameter
    hotel_req = requests.get(base_url, params=params).json()
    
    # Retrieve first hotel name and coordinates
    hotel_name.append(hotel_req['results'][0]['name'])
    hotel_lat.append(hotel_req['results'][0]['geometry']['location']['lat'])
    hotel_lng.append(hotel_req['results'][0]['geometry']['location']['lng'])

# Creat the hotel_df DataFrame
hotel_df = pd.DataFrame({'Hotel Name':hotel_name,
                         'Latitude':hotel_lat,
                         'Longitude':hotel_lng,
                         'City':pref_df['City'],
                         'Country':pref_df['Country'],
                         })

# Display hotel_df
hotel_df

               Hotel Name   Latitude   Longitude       City Country
287  Dhatariya Dharmshala  27.649772   77.379601    Barsana      IN
294      Sugih Waras Enim  -4.047738  103.781963  Indramayu      ID
370       Au Fil de L'eau -21.712979  165.829060     La Foa      NC
441        Hôtel Le Lagon -22.300991  166.445248     Noumea      NC
531        Hotel La Noria  25.342705 -102.806145     Viesca      MX

In [54]:
# Add marker layer ontop of heat map

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [ ]:
# # NOTE: Do not change any of the code in this cell

# # Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
# locations = hotel_df[["Lat", "Lng"]]